

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/960137/pexels-photo-960137.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: repeat;

}
.gameboard{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border:solid 3px black;
    transition: .5s;
}
.square{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: .5s;
   cursor: pointer;
}
.square:hover {
  background-color: #eee;
}

.circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border:15px solid #2196F3;
    box-sizing: border-box;
    transition: .5s;

}

.cross{
    height: 80px;
    width: 80px;
    position: relative;
    transform: rotate(-45deg);
    transition: .5ss;
}
.cross::before ,
.cross::after{
    content: "";
    position: absolute;
    background-color: #FF5722;
    
}
.cross::before{
    left: 50%;
    width: 20%;
    margin-left: -15%;
    height: 100%;
}
.cross::after{
   left: 50%;
    width: 20%;
    margin-left: -15%;
    height: 100%;
    transform: rotate(90deg);
}

.info {
    font-size: 26px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 20px;
  animation-name: slide-up;
  animation-duration: 1.5s;
  transition: .5s;
}

.return-btn{
    transition: .5s;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10%;
    outline: none;
    animation-duration: 1.5s;
    animation-name: slide-below;
}
.return-btn:hover{
    background-color:#F44336;
    color: white;
}

@keyframes slide-below {
  from {
    opacity: 0;
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
